<app-navbar></app-navbar>

<div class="select-container">
    <div class="arcade-card">
        <div class="arcade-menu">
            <span class="badge-header">INSERT COIN TO PLAY</span>
            <h2 class="arcade-title">CINEMARKADE</h2>

            <div class="menu-options">
                <button type="button" class="btn-menu yellow" (click)="irALogin()">
                    <span class="selector">►</span> [ 1 PLAYER ] INICIAR SESIÓN
                </button>

                <button type="button" class="btn-menu cyan" (click)="irARegistro()">
                    <span class="selector">►</span> [ NEW GAME ] REGISTRARSE
                </button>
            </div>

            <p class="press-start-text">ELIGE UNA OPCIÓN PARA CONTINUAR</p>
        </div>
    </div>
</div>